@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  button{
      background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
      padding: 8px 12px;
  }
  .outline{
    border: 1px solid linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    text-decoration: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    background-color: transparent;
  
  }